# Ignore all
*

# But include .gitignore
!.gitignore

# And other things
!.config/i3
!.config/dunst
!.config/picom
!.config/polybar
!.config/betterlockscreenrc
!.bashrc
!.bash_profile
!Pictures
!Pictures/background.png
!.config/barrier.sgc
